@model RecipeLib.Models.HomeModel
@inject UserManager<User> UserManager
@{
    ViewData["Title"] = "Recipes";
    List<string> authors = new();
    for (var i = 0; i < Model.recipes.Count; i++)
    {
        var user = await UserManager.FindByIdAsync(Model.recipes[i].AuthorId);
        authors.Add(user.UserName);
    }
    int selected_category = 0;

}

<div class="container">
    <div class="row mb-3">
        <div class="col btn-light m-1 text-center align-items-center justify-content-center my-auto">
            <p class="m-2">All</p>
        </div>
        @foreach (var category in @Model.categories)
        {
            <div class="col btn-light m-1 text-center align-items-center justify-content-center my-auto">
                <p class="m-2">@category.Name</p>
            </div>
        }
    </div>
    <div class="container">
        <div class="text-center align-self-md-center">
            <div class="row mb-1 border-2 border-bottom border-dark mb-4">
                <div class="col text-center align-items-center justify-content-center my-auto">
                    <p class="m-2"><i class="bi bi-receipt"></i> Recipe name</p>
                </div>
                <div class="col text-center align-items-center justify-content-center my-auto">
                    <p class="m-2"><i class="bi bi-x-diamond"></i> Category Name</p>
                </div>
                <div class=" col text-center    align-items-center justify-content-center my-auto">
                    <p class="m-2"><i class="bi bi-person-bounding-box"></i> Author</p>
                </div>
                <div class="col text-center align-items-center justify-content-center my-auto">
                    <p class="m-2"><i class="bi bi-egg"></i> Kcal</p>
                </div>
                @if (User.IsInRole("Administrator") || User.IsInRole("Recipemaster"))
                {
                    <div class="col m-2 text-center align-items-center justify-content-center my-auto">

                        <a class="btn btn-success text-white" asp-controller="Recipe" asp-action="Create"><i
                            class="bi bi-patch-plus-fill"></i> New Recipe</a>


                    </div>
                }
            </div>
            @for (var i = 0; i < Model.recipes.Count; i++)
            {
                <div class="row mb-3 text-center border-2 border-light border p-3 rounded-3">
                    <div class="col text-center align-items-center justify-content-center my-auto">
                        <p class="m-2">@Model.recipes[i].Name</p>
                    </div>
                    <div class="col text-center align-items-center justify-content-center my-auto">
                        <p class="m-2">@Model.categories.Find(cat => cat.Id == Model.recipes[i].CategoryId).Name</p>
                    </div>
                    <div class="col text-center align-items-center justify-content-center my-auto">
                        <p class="m-2">@authors[i]</p>
                    </div>
                    <div class="col text-center align-items-center justify-content-center my-auto">
                        <p class="m-2">@Model.recipes[i].kcal</p>
                    </div>
                    @if (User.IsInRole("Administrator") || User.IsInRole("Recipemaster"))
                    {
                        <div class="col w align-items-center justify-content-center my-auto text-nowrap">
                            <a class="btn btn-outline-primary" asp-action="Edit" asp-controller="Recipe"
                        asp-route-id="@Model.recipes[i].Id"><i class="bi bi-pen-fill"></i> Edit </a>
                            <a class="btn btn-outline-info" asp-action="Details" asp-controller="Recipe"
                        asp-route-id="@Model.recipes[i].Id"> Details </a>
                            <a class="btn btn-outline-danger" asp-action="Delete" asp-controller="Recipe"
                        asp-route-id="@Model.recipes[i].Id"><i class="bi bi-backspace-reverse-fill"></i></a>
                        </div>
                    }
                </div>
            }
        </div>
    </div>

</div>
