@model Models.RecipeEditModel
@{
    ViewData["Title"] = "Recipe edit";
}
<div class="container  super-card card align-self-center w-75 mt-5 p-0  pb-0">
    <form id="formMain" asp-action="EditRecipe" asp-controller="Recipe" asp-route-id="@Model.Recipe.Id" method="POST">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row p-3">
            <div class="col ps-4 pt-5">
                <div class="form-group">
                    <input asp-for="Recipe.ImgCard" type="hidden" />
                    <input asp-for="Recipe.ImgSmall" type="hidden" />
                    <label asp-for="Recipe.Name" class="control-label text-primary fs-3"></label>
                    <input asp-for="Recipe.Name" class="form-control text-light"
                        style="background-color:rgb(28, 30, 31);" />
                    <span asp-validation-for="Recipe.Name" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <label asp-for="Recipe.kcal" class="control-label text-primary fs-3">Kcal</label>
                    <input asp-for="Recipe.kcal" class="form-control text-light"
                        style="background-color:rgb(28, 30, 31)" />
                    <span asp-validation-for="Recipe.kcal" class="text-danger"></span>
                </div>

                <div class="form-group mt-3">
                    <label asp-for="Recipe.Category" class="control-label text-primary fs-3"></label>
                    <select asp-for="Recipe.CategoryId" class="form-select text-light"
                        style="background-color:rgb(28, 30, 31);" id="exampleSelect1">
                        @for (var i = 0; i < Model.Categories.Count; i++)
                        {
                            @if (Model.Categories[@i].Id == Model.Recipe.CategoryId)
                            {
                                <option value="@Model.Categories[@i].Id" selected>
                                    @Model.Categories[i].Name
                                </option>
                            }
                            else
                            {
                                <option value="@Model.Categories[@i].Id">
                                    @Model.Categories[i].Name
                                </option>
                            }

                        }
                    </select>
                    <span asp-validation-for="Recipe.Category" class="text-danger"></span>
                </div>

                <div class="form-group mt-3">
                    <label asp-for="Recipe.Ingredients" class="control-label text-primary fs-3"></label>
                    <span asp-validation-for="Recipe.Ingredients" class="text-danger"></span>

                </div>

                @* <table class="table" id="AddIngredientsTable">
                    <thead>


                    <tr>
                    <th class="text-light">@Html.DisplayNameFor(model=>model.Recipe.Ingredients[0].ammount)
                    </th>
                    <th class="text-light">@Html.DisplayNameFor(model=>model.Recipe.Ingredients[0].name)</th>
                    <th>
                    <a asp-action="IngredientRow" asp-controller="Recipe" asp-route-id="@Model.Recipe.Id"
                    onclick="addRow()" class="btn btn-success">Add</a>
                    </th>
                    </tr>
                    </thead>
                    <tbody id="tbody" class=" mt-3">
                    @Html.EditorFor(model => Model.Recipe.Ingredients)
                    </tbody>
                    </table>

                    <div class="form-group mt-3">
                    <label asp-for="Recipe.Method" class="control-label text-primary fs-3"></label>
                    <span asp-validation-for="Recipe.Method" class="text-danger"></span>

                    </div>
                    <table class="table" id="AddIngredientsTable">
                    <thead>


                    <tr>
                    <th class="text-light">@Html.DisplayNameFor(model=>model.Recipe.Method)
                    </th>
                    <th>
                    <div onclick="addRow()" class="btn btn-success">Add</div>
                    </th>
                    </tr>
                    </thead>
                    <tbody id="tbeody" class=" mt-3">
                    @for (var i = 0; i < Model.Recipe.Method.Count; i++)
                    {
                    <tr class="editorRow">
                    <td>
                    <input asp-for="Recipe.Method[i]" type="text" class="form-control text-light"
                    style="background-color:rgb(28, 30, 31)" />
                    </td>
                    <td>
                    <div class="btn btn-danger remove-m">Remove</div>
                    </td>
                    </tr>
                    }
                    </tbody>
                    </table> *@

                <div class="form-group">
                    <div class="">
                        <input type="submit" value="Edit" class="btn btn-primary btn-block w-100" />
                    </div>
                </div>
            </div>

    </form>
    <div class="col flex-1 pt-3">
        <img id="imgDisplay-small" class="w-50 card-img align-self-end rounded-circle img-fluid"
            src="@Model.Recipe.ImgSmall" />
        <form id="among" enctype="multipart/form-data" method="POST" onsubmit="handleSubmit(this);return false;">


            <div class="form-group mt-3">
                <label asp-for="ImageSmallUpload" class="control-label text-primary fs-3">Img small
                    src</label>
                <input asp-for="ImageSmallUpload" type="file" class="form-control text-light"
                    style="background-color:rgb(28, 30, 31)" />
                <span asp-validation-for="ImageSmallUpload" class="text-danger"></span>
            </div>


            <img id="imgDisplay-card" class="card-img w-50 align-self-end img-fluid mt-3" src="@Model.Recipe.ImgCard" />

            <div class="form-group mt-3">
                <label asp-for="ImageCardUpload" class="control-label text-primary fs-3">Img large
                    src</label>
                <input asp-for="ImageCardUpload" type="file" class="form-control text-light"
                    style="background-color:rgb(28, 30, 31)" />
                <span asp-validation-for="ImageCardUpload" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="">
                    <input type="Submit" href="#Submit" value="Upload" class="btn btn-primary btn-block w-100">Submit
                    </input>
                </div>
            </div>
        </form>
    </div>
</div>



</div>

@section Scripts {
<script>
    var counter = '@Model.Recipe.Ingredients.Count';
    function addRow() {
        var url = '@Url.Action("IngredientRow")';
        $.ajax({
            type: "POST",
            url,
            cache: false,
            success: function (html) { $("#tbody").append(html); }
        });
    }
    $("#tbody").on("click", ".remove", function () {
        $(this).parents(".editorRow:first").remove();
        return false;
    });

    $("#tbeody").on("click", ".remove-m", function () {
        $(this).parents(".editorRow:first").remove();
        return false;
    });


    async function handleSubmit(formElement) {
        var resultElement = formElement.elements.namedItem("result");

        const formData = new FormData(formElement);

        console.log(FormData);
        console.log(formElement);
        $.ajax({
            type: "POST",
            url: '@Url.Action("UploadRecipeImages")',
            data: formData,
            error: function (xhr, status, error) {
                //do something about the error
            },
            success: function (response) {
                console.log(response);
                //do something with response
                @* LoadBooks(); *@

            }
        });

    }


    function uploadStarted(type) {
        $get("imgDisplay-" + type).style.display = "none";
    }




</script>
}