@model Recipe
@{
    ViewData["Title"] = "Recipe details";
}
<div class="container  super-card card align-self-center w-50 mt-5 p-0  pb-0">
    <div class="row p-3">
        <div class="col ps-4 pt-5">
            <h1 class="">@Model.Name</h1>
            <p class="text-light">Kcal: @Model.kcal</p>
        </div>
        <div class="col pt-3">
            <img class="img-fluid align-self-end rounded-circle" src="@Model.ImgSmall" />
        </div>
    </div>


    <div class="p-3">
        <h3 class="ms-3">Ingredients:</h3>
        <ul>
            @foreach (var item in Model.Ingredients)
            {
                <li>
                    <p class="text-light">@item.ammount @item.name</p>
                </li>
            }
        </ul>
    </div>
    <div class="p-3">
        <h3 class="ms-3">Instructions:</h3>
        <ul>
            @foreach (var item in Model.Method)
            {
                <li>
                    <p class="text-light">@item</p>
                </li>
            }
        </ul>
    </div>
    <div class="footer mt-3 text-center bg-dark ">
        <h4 class="text-light m-2">Enjoy!</h4>
    </div>
</div>